@import "../view/theme.scss";


.appFrame {
  height: $bodyHeight;
  background-color: $chartBGColor;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start; // center
  overflow-y: auto;
}

.appFrame2 {
  height: $bodyHeight;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topPane {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.bottomPane {
  display: flex;
}

.leftPane {
  display: flex;
  flex-direction: column;
}

.leftTopPane {
  display: flex;
}

.leftBottomPane {
  display: flex;
}

.rightPane {
  display: flex;
  background-color: $chartBGColor;
  flex-direction: column;
}