@import "../view/theme.scss";


.chartFrame {
  height: $bodyHeight;
  background-color: $chartBGColor;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  align-content: flex-start;
}

.topPane {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.bottomPane {
  display: flex;
}

.leftPane {
  display: flex;
  flex-direction: column;
}

.leftTopPane {
  display: flex;
}

.leftBottomPane {
  display: flex;
}

.rightPane {
  display: flex;
  background-color: $chartBGColor;
  flex-direction: column;
}
