@import "../view/theme.scss";


.mainWrap {
  min-height: 100vh;
  min-width: 100vw;
}

.mainHeader {
	height: $headerHeight;
	background-color: white;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $basicColor;
}

.mainTitleBox {
	position: relative;
	color: $basicColor;
	max-width: 1130px;
	display: flex;
	align-items: center;
}

.mainTitle {
	margin: 0 4px;
	font-weight: bolder;
	font-size: 1.5rem;	
	line-height: 1.2rem;
	cursor: pointer;
}

.mainMiddle {
	flex: 1 1;
}

.mainNaviBox {
	display: flex;
}

.mainMenuSeparator {
	width: 1px;
	margin: 10px 1px;
	background-color: lightgrey;
}

.mainMenuButton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3px;
	box-sizing: border-box;
	cursor: pointer;
	width: 44px;
	height: 44px;
}

.mainMenuButton:hover {
	border-radius: 3px;
	// border: 1px solid $basicColor;
	color: white;
	background-color: $basicColor;
}

.mainMenuButtonDisabled {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3px;
	box-sizing: border-box;
	width: 44px;
	height: 44px;
	color: $menuButtonDisabledGFColor;
	cursor: default;
}

.mainNaviPosition {
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 38px;
	margin-top: 6px;
	text-align: center;
	color: #212529;
	border: 1px solid lightgrey;
	border-radius: 4px;
}

.scrollLock {
	height: $bodyHeight;
	overflow: hidden;
}

.mainBody {
	min-height: $bodyHeight;
	background-color: $bodyBGColor;
}


.blockedLayer {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.spinnerBox {
	position: absolute;
	left: calc(50% - 14px);
	top: calc(50% - 14px);
}

.toastBox {
	min-width: 300px;
	position: absolute;
  top: 0;
  right: 0;
}

.sideMenuWrap {
	position: absolute;
	top: $headerHeight;
	height: $bodyHeight;
	background-color: $sideMenuBGColor;
	color: $sideMenuFGColor;
	overflow-x: hidden;
	width: 280px;
	z-index: 999;
}

.menuBox {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.menuItem {
	border-bottom: 1px solid #40505d;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
	flex: 0 0 3rem;
	padding: 0 10px;
}

.menuItem:hover {
	background-color: #40505d;
}

.menuItemDisabled {
	border-bottom: 1px solid #40505d;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	align-items: center;
	flex: 0 0 3rem;
	padding: 0 10px;
	color: #999;
}

.menuItemDisabled:hover {
	background-color: #40505d;
}

.menuNoBorder {
	border-bottom: none !important;
}


.gotoMenu {
	height: 2rem;
	padding: 5px 10px;
	white-space: nowrap;
}

.gotoMenu:link, .gotoMenu:visited  {
	color: #ddd;
}

.overlayLayer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2)
}

.inputOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
	background-color: rgba(0, 0, 0, 0.65)
}

.mainDesc {
  color: darkgray;
  margin: auto;
  width: 760px;
}

.searchBarMain {
	background-color: white;
}

.searchBarInput {
	outline: none;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	color: #212529;
	background-clip: padding-box;
	border: none;
}

.searchBarList {
	position: absolute;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 0 0 6px 6px;
	z-index: 999;
}

.searchBarItem {
	padding: 4px 12px;
	height: 36px;
	color: #212529;
	line-height: 28px;
	cursor: pointer;
}

.searchBarItem:hover {
	background-color: lightgrey;
}