@import "../view/theme.scss";


.tableFrame {
  height: $bodyHeight;
  background-color: $chartBGColor;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  align-content: flex-start;
}

.tableTitleBox {
  margin-top: 20px;
}
