@import "../view/theme.scss";


.chartMain {
  margin-top: 30px;
  overflow: hidden;
  background-color: $chartBGColor;
  display: flex;
  flex-direction: column;
  // border-top: 1px solid lightgray;
}

.chartOption {
  display: none;
  position: absolute;
  top: 0px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.btnColor01 {
  color: $basicColor;
}

.btnColor02 {
  color: #19ce60;
}

.chartOption:hover {
  color: white;
  background-color: $basicColor;
  border-radius: 4px;
}

.chartMain:hover .chartOption {
  display: inline-flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

.chartHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-basis: 32px;
  position: relative;
}

.chartFavorite {
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
  line-height: 32px;
  color: $clrFavorite;
}

.chartNoFavorite {
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
  line-height: 32px;
  color: #777;
}

.chartTitleDiv {
  color: #68533e;
  font-weight: bolder;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.chartTopDiv {
  flex: 1 1;
  display: flex;
}

.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axisLabel {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
  opacity: 0.8;
}

.selectedLine {
  stroke-width: 3px;
  opacity: 1.0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.zero-line {
  stroke: #999;
  stroke-width: 1px;
}

.tick {
  font-size: 0.8rem;
}

.chartToolTip {
  position: absolute;
  background-color: white;
  border: solid 1px #222; // rgb(12, 125, 157);
  padding: 2px 4px;
  border-radius: 4px;
  min-width: 110px;
  opacity: 1.0;
  z-index: 999;
}

.tooltipItem {
  height: 20px;
  font-size: 12px;
  // font-weight: bolder;
  line-height: 20px;
}

.smallBox {
  position: relative;
  background-color: white;
  border: solid 1px #222; // rgb(12, 125, 157);
  padding: 2px 4px;
  max-width: 160px;
  overflow: hidden;
  opacity: 1.0;
  z-index: 999;
}

.legendBox {
  overflow: hidden;
  font-size: 0.8rem;
  flex-basis: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 0;
}

.legendItemBox {
  cursor: pointer;
  margin: 0 16px;
  display: flex;
}

.legendCheckBox {
  display: inline-block;
}

.legendTitle {
  display: inline-block;
  font-size: 0.9rem;
}

.axis-tip-x {
  font-size: 12px;
}

.chartOptionPanel {
  position: absolute;
  top: 36px;
  right: 5px;
  background-color: $sideMenuBGColor;
  color: $sideMenuFGColor;
  overflow-x: hidden;
  height: 285px;
  padding: 5px;
  z-index: 999;
  border-radius: 5px;
}
